@import "variables";

html, body {
  margin: 0;
  padding: 0;
  background-color: $mainBackgroundColor;
}

#wrapper{
  margin: auto;
}

#headingMain{
  font-family: $mainFont;
  color: white;
  font-size: 50px;
  font-weight: bold;
  position: relative;

}
#center-main{
  margin: auto;
  width: auto;
  height: auto;
  left: 0;
  right: 0;
  position: relative;
  text-align: center;
}

#sandwich{
  position: relative;
  height: 20%;
  width: auto;
  top: 50px;
  left: 5px;
  animation-name: blinker;
  animation-delay: 0s;
  animation-duration:5s;
  animation-iteration-count: infinite;
  animation-direction:normal;

}

@keyframes blinker {
90%{
  content:url("../media/img/Swich1.png");
}
  91%{
    content:url("../media/img/Swich3.png");
  }
}
